<!DOCTYPE html>
<html lang="en">
<body>
<form action="/accounts/create/" method="post" enctype="multipart/form-data">
  <a>Photo    </a>  <input type="file" name="file"/> <br/>
  <a>Name     </a>  <input type="text" name="fullname"/> <br/>
  <a>Username </a>  <input type="text" name="username"/><br/>
  <a>Email    </a>  <input type="text" name="email"/><br/>
  <a>Passowrd </a> <input type="password" name="password"/><br/>
    <input type="submit" name="signup" value="sign up"/><br/>
  </form>
  <a href="/accounts/login/" target="_blank">Log in</a>
</body>
</html>