<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
    <link rel = "stylesheet" href="style.css"> 
</head>
<body>
    <!-- 头部banner -->
    <header id = "topbar">
        <!-- 左边Logo -->
        <class id = "logo">
            <a href="/"><img src = "images/instagramLogo.jpeg" width="100" height="70"></a>
            <a href="/"><img src = "images/instagram.jpg" width="119" height="36"> </a>
        </class>
        <!-- 右边导航 -->
        <nav id = "topnav">
            <ul>
                <li><a href = "/explore/">explore</a></li>
                <li><a href = "/u/{{logname}}/" >{{logname}}</a></li>
            </ul>
        </nav>
    </header>
    <!-- 中间内容 --> 
    <div id = "body">
        <ul>

            {% for post in posts %}
                <!-- user-topbar -->
                <li id = "a">
                    <div class = "topuser">
                        <div class = "userinfo">
                            <img src = {{post['owner_img_url']}} alt = "profile-picture" width="50" height="50">
                            <a href="/u/{{post['owner']}}/" target="_blank"><p>{{post['owner']}}</p></a>
                        </div> 
                        <a href="/p/{{post['postid']}}/" target="_blank"><p>{{post['timestamp']}}</p></a>
                    </div>
                    <!-- image-content -->
                    <a href="/u/{{post['owner']}}/" target="_blank"><img src = {{post["img_url"]}} alt = "content-image" width="800" height="500"></a>
                    <div class = "comment">

                        <!-- Deal with display like or likes -->
                        {% if post['likes'] == 1 %}
                            <p id = "like">1 like</p>
                        {% else %}
                            <p id = "like">{{post['likes']}} likes</p>
                        {% endif %}
                        <!-- Comments part -->
                        {% for comment in post['comments'] %}
                        <a href="/u/{{comment['owner']}}/" target="_blank">
                            <div id = "usercomment"><span>{{comment['owner']}}</span><span>{{comment['text']}}</span></div>
                        </a>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        <ul>
    </div>
</body>
</html>