<!DOCTYPE html>
<html lang="en">
<body>
    <a href="/" target="_blank">Insta485</a>
    <a href="/explore/" target="_blank">explore</a>
    <a href="/u/{{user}}/" target="_blank">{{user}}</a>

    <form action="/accounts/password/" method="post" enctype="multipart/form-data">
      <a>Old password</a>  <input type="password" name="password"/>
      <a>New password</a>  <input type="password" name="new_password1"/>
      <a>New password,again</a>  <input type="password" name="new_password2"/>
        <input type="submit" name="update_password" value="submit"/>
      </form>
      <a href="/accounts/edit/" target="_blank">Back to edit account</a>
</body>
</html>